In [31]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from unidecode import unidecode

In [32]:
# dfm=pd.read_csv('./datasets/FINAL_CLEAN2.txt')
dfm=pd.read_csv('Divar_Full_14011021_2.csv')

In [ ]:
dfm.info()

In [34]:
mainmahale=dfm.main_neighbourhood.value_counts().head(350).index
dfm=dfm[dfm.main_neighbourhood.isin(mainmahale)]

In [35]:
mainmahale.shape

(350,)

In [36]:
dfm.columns

Index(['Unnamed: 0', 'construct_year', 'number_of_room', 'size_metre',
       'Elevator', 'Parking', 'Cage', 'Balcon', 'main_neighbourhood',
       'price_perMetre_Tooman', 'floor'],
      dtype='object')

In [ ]:
df=dfm.loc[:,['construct_year', 'number_of_room', 'size_metre',
       'Elevator', 'Parking', 'Cage', 'Balcon','floor','main_neighbourhood', 'price_perMetre_Tooman']]
df.rename(columns={ 'main_neighbourhood' : 'ne' ,'price_perMetre_Tooman':'price'},inplace=True)
df.price=df.price/1000000
df=df[pd.to_numeric(df['floor'], errors='coerce').notnull()]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38319 entries, 0 to 42199
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   construct_year  38319 non-null  object
 1   number_of_room  38319 non-null  object
 2   size_metre      38319 non-null  object
 3   Elevator        38319 non-null  int64
 4   Parking         38319 non-null  int64
 5   Cage            38319 non-null  int64
 6   Balcon          38319 non-null  int64
 7   floor           38319 non-null  object
 8   ne              38319 non-null  object
 9   price           38319 non-null  object
dtypes: int64(4), object(6)
memory usage: 3.2+ MB

### DAta clean

In [39]:
def myfun2(x):
    try: 
        tt=x.replace("٬","")
        tt2=unidecode(tt)
        tt3=int(tt2)/1000000
        return(tt3)
               
    except:
        return(x)
col='price'
df[col]=df['price'].apply(lambda x: myfun2(x)) 
df[col]=pd.to_numeric(df[col], errors='coerce')
# df[col]

In [40]:
def myfun(x):
    try: 
       
        return(int(unidecode(x)))
    except:
        return('')
col='floor'
df[col]=df[col].apply(lambda x: myfun(x)) 
df=df[pd.to_numeric(df['floor'], errors='coerce').notnull()] 
df['floor']=df['floor'].astype('int')

In [41]:
for col in ['construct_year', 'number_of_room', 'size_metre',
       'Elevator', 'Parking', 'Cage', 'Balcon']:
    print(col)
    df[col]=df[col].astype('int')

construct_year
number_of_room
size_metre
Elevator
Parking
Cage
Balcon

### Transform address

In [42]:
df2 = pd.get_dummies(df, columns = ['ne'])

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38319 entries, 0 to 42199
Columns: 359 entries, construct_year to ne_یوسف‌آباد، خیابان مهرام (مدبر)
dtypes: float64(1), int32(8), uint8(350)
memory usage: 14.5 MB

In [44]:
df2.shape

(38319, 359)

In [45]:
df=df2

### remove outliers

In [46]:
for col in ['construct_year', 'number_of_room', 'size_metre',
       'Elevator', 'Parking', 'Cage', 'Balcon' , 'floor']:
    q_low = df[col].quantile(0.01)
    q_hi  = df[col].quantile(0.99)

    df_filtered = df[(df[col] < q_hi) & (df[col] > q_low)]

col='price'
q_low = df[col].quantile(0.04)
q_hi  = df[col].quantile(0.96)
df_filtered = df[(df[col] < q_hi) & (df[col] > q_low)]
    
df_filtered.shape

(35250, 359)

In [47]:
df=df_filtered

In [48]:
df.describe()

,construct_year,number_of_room,size_metre,Elevator,Parking,Cage,Balcon,floor,price,ne_آبشار,...,ne_گاندی,ne_گرگان,ne_گمرک,ne_گیشا (کوی نصر),ne_یافت‌آباد,ne_یوسف‌آباد,ne_یوسف‌آباد، خیابان اسدآبادی (خیابان ولیعصر),ne_یوسف‌آباد، خیابان اسدآبادی (یوسف آباد) (خیابان ولیعصر),ne_یوسف‌آباد، خیابان جهان‌آرا,ne_یوسف‌آباد، خیابان مهرام (مدبر)
count,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.0,35250.000000,35250.000000,35250.000000,...,35250.000000,35250.000000,35250.00000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000
mean,1392.416652,2.231518,118.897305,0.829589,0.882667,0.943546,0.0,3.417418,75.903980,0.000312,...,0.000567,0.001106,0.00156,0.011206,0.001021,0.013191,0.000199,0.000312,0.000681,0.000369
std,7.904817,0.739256,124.568552,0.375999,0.321822,0.230799,0.0,2.944396,32.398456,0.017663,...,0.023813,0.033244,0.03947,0.105264,0.031942,0.114096,0.014091,0.017663,0.026085,0.019201
min,1369.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.0,-1.000000,21.509000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1386.000000,2.000000,77.000000,1.000000,1.000000,1.000000,0.0,2.000000,51.851000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1394.000000,2.000000,107.000000,1.000000,1.000000,1.000000,0.0,3.000000,70.925500,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1400.000000,3.000000,140.000000,1.000000,1.000000,1.000000,0.0,4.000000,92.631000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1401.000000,4.000000,10000.000000,1.000000,1.000000,1.000000,0.0,30.000000,179.558000,1.000000,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### visual Analysis

In [ ]:
plt.figure(figsize=(9,5 ))
no=0
for col in df.columns:
    no+=1
    plt.subplot(3,8,no)
    plt.tight_layout()
    sns.boxplot(y=df[col])

In [ ]:
plt.figure(figsize=(12, 5))
sns.pairplot(df)

In [ ]:
sns.scatterplot()

In [ ]:
corr_date = df.corr().round(2)*100
fig = plt.figure(figsize =(11, 4)) 
# figsize=(11,1)
ax=sns.heatmap(corr_date, annot=True)
plt.xticks()
plt.show()

### Modelling

In [49]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression, Ridge, SGDRegressor,LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import math

In [50]:
X = df.loc[:,df.columns != 'price'].values
y = df.loc[:,'price'].values
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3 , random_state=85, )

In [51]:
# model = make_pipeline(preprocessing.MinMaxScaler(),preprocessing.PolynomialFeatures(degree=3, include_bias=False), Ridge(alpha=5))
# model = make_pipeline(preprocessing.MinMaxScaler(),SGDRegressor(max_iter=10000, tol=1e-3))
model = make_pipeline(preprocessing.MinMaxScaler(),LinearRegression())

# SGDRegressor(max_iter=1000, tol=1e-3,penalty='l1'))
model.fit(X_train, y_train)
# print("SGD intercept: ", model[1].intercept_)
# print("SGD coef : ", model[1].coef_)
# print("iteration: ", model[1].n_iter_)
y_predict= model.predict(X_test)
print("R2: ", metrics.r2_score(y_test, y_predict))
print("MSE: ", metrics.mean_squared_error(y_test, y_predict))
print("MAE : ", metrics.mean_absolute_error(y_test, y_predict))
print("MAPE : ", metrics.mean_absolute_percentage_error(y_test, y_predict))
print("Error percent:     ","%.0f%%" %(100*math.sqrt(metrics.mean_squared_error(y_test, y_predict)) / df["price"].mean()))
# "%.0f%%" %(100*accuracy)

R2:  0.8039418118506348
MSE:  203.61234137015276
MAE :  10.14346394429669
MAPE :  0.14202480502522724
Error percent:      19%

### Some Analysis

In [52]:
dff=pd.concat( [pd.DataFrame(X_test),pd.Series(y_predict),pd.Series(y_test )],  axis=1)
dff=dff.iloc[:,[0,1,2,3,4,5,6,7,-2,-1]]
dff.columns=('year room metrage Elevator Parking Cage Balcon floor y_predict y_test').split()
dff['error']=dff.apply(lambda x: abs(x[-2]-x[-1]), axis=1)
# dff

In [53]:
dff.sort_values(by='error', ascending=False)

,year,room,metrage,Elevator,Parking,Cage,Balcon,floor,y_predict,y_test,error
117,1398,2,97,1,1,1,0,3,23.863037,175.000,151.136963
10542,1401,4,4000,1,1,1,0,6,162.074585,28.000,134.074585
4561,1380,3,155,0,0,1,0,1,28.145508,125.806,97.660492
5037,1401,4,316,1,1,1,0,21,55.582153,150.000,94.417847
8475,1401,3,140,1,1,1,0,15,46.229492,130.000,83.770508
...,...,...,...,...,...,...,...,...,...,...,...
4679,1383,4,60,0,0,1,0,4,38.326782,38.333,0.006218
9316,1399,2,100,1,1,1,0,6,89.494385,89.500,0.005615
9170,1401,3,190,1,1,1,0,5,142.002686,142.000,0.002686
3501,1390,2,91,1,1,1,0,5,65.936157,65.934,0.002157
10149,1401,3,125,1,1,0,0,1,85.000854,85.000,0.000854

In [54]:
dff

,year,room,metrage,Elevator,Parking,Cage,Balcon,floor,y_predict,y_test,error
0,1380,2,46,0,0,1,0,0,31.154053,39.130,7.975947
1,1383,4,215,1,1,1,0,4,103.905640,130.232,26.326360
2,1371,4,227,0,0,1,0,2,58.770020,48.458,10.312020
3,1385,1,59,0,1,1,0,2,60.932495,66.101,5.168505
4,1387,3,123,1,1,1,0,2,86.083984,73.983,12.100984
...,...,...,...,...,...,...,...,...,...,...,...
10570,1376,0,37,0,0,0,0,0,55.032593,75.675,20.642407
10571,1383,1,46,0,1,1,0,3,35.372559,42.391,7.018441
10572,1400,2,100,1,1,1,0,1,71.974609,70.000,1.974609
10573,1385,1,62,1,1,1,0,3,65.830933,61.290,4.540933
10574,1401,2,121,1,1,1,0,5,77.959106,87.190,9.230894

In [ ]:
dff.sort_values(by='def')